.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
build/
dist/
.eggs/
*.egg-info
pip-wheel-metadata/
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache
uploads/
uploads/*
.migrations
*.sqlite3
.env
*.env
.venv
.git
.gitignore
.github
Dockerfile
